# cp env.example .env

API_NAME=go8
API_HOST=localhost
API_PORT=3080
API_REQUEST_LOG=false
API_RUN_SWAGGER=false

CORS_ALLOWED_ORIGINS=http://localhost:3000

DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=go8_db
DB_SSL_MODE=disable
DB_MAX_CONNECTION_POOL=4 # number of connections = ((core_count * 2) + effective_spindle_count)
DB_MAX_IDLE_CONNECTIONS=4
DB_CONNECTIONS_MAX_LIFETIME=300s

DB_TEST_NAME=test

REDIS_HOSTS=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_NAME=0
REDIS_USER=
REDIS_PASS=
REDIS_CACHE_TIME=5s
REDIS_ENABLE=false

SESSION_SESSION_NAME=session
SESSION_PATH="/"
SESSION_DOMAIN=
SESSION_DURATION=24h
SESSION_HTTP_ONLY=true
SESSION_SECURE=true

OTEL_ENABLE=false
OTEL_OTLP_ENDPOINT="otel-collector:4317"
OTEL_OTLP_SERVICE_NAME="go8"
OTEL_OTLP_SERVICE_VERSION="0.1.0"
OTEL_OTLP_METER_NAME="demo"
OTEL_OTLP_SAMPLER_RATIO=0.1

OTELCOL_IMG=otel/opentelemetry-collector-contrib:0.111.0
PROM_IMG=v2.54.1
JAEGER_IMG=1.61.0
GRAFANA_IMG=11.1.5
LOKI_IMG=3.2.0
PROMTAIL_IMG=3.2.0
NODE_EXPORTER_IMG=v1.8.2