# cp env.example .env

API_NAME=go8
API_HOST=localhost
API_PORT=3080
API_REQUEST_LOG=false
API_RUN_SWAGGER=false

DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=postgres
DB_SSL_MODE=disable
DB_MAX_CONNECTION_POOL=4 # number of connections = ((core_count * 2) + effective_spindle_count)
DB_MAX_IDLE_CONNECTIONS=4
DB_CONNECTIONS_MAX_LIFETIME=300s

REDIS_HOSTS=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_NAME=1
REDIS_USER=
REDIS_PASS=
REDIS_CACHE_TIME=5s
REDIS_ENABLE=false
