# cp env.example .env

API_NAME=go8
API_HOST=localhost
API_PORT=3080
API_REQUEST_LOG=false
API_RUN_SWAGGER=false

DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=
DB_SSL_MODE=disable
DB_MAX_CONNECTION_POOL=4 # number of connections = ((core_count * 2) + effective_spindle_count)

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_NAME=1
REDIS_USER=
REDIS_PASS=
REDIS_CACHE_TIME=5

ELASTICSEARCH_ADDRESS=http://localhost:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASS=

JWT_SECRET_KEY=
SECURE_COOKIES=
GITHUB_CLIENT=
GITHUB_SECRET=