output   = "internal/models"
wipe     = true
no-tests = true

[psql]
  dbname = ""
  host   = "localhost"
  port   = 5432
  user   = ""
  pass   = ""
  sslmode = "disable"
  schema = "public"
  blacklist = ["migrations", "other", "goose_db_version", "schema_migrations"]
