output   = "internal/models"
wipe     = true
no-tests = true
debug    = false

[psql]
dbname = ""
host   = "localhost"
port   = 5432
user   = ""
pass   = ""
sslmode = "disable"
schema = "public"
blacklist = ["migrations", "schema_migrations"]
