Api:
 HOST: "localhost"
 PORT: "3080"

Database:
 DRIVER: "postgres"
 HOST: ""
 PORT: ""
 USER: ""
 PASS: ""
 NAME: ""
 SSL_MODE: ""

Redis:
 HOST: "localhost"
 PORT: "6379"
 NAME: "rediscache"
 USER: ""
 PASS: ""